<%= form_with(model: kadai, local: true) do |form| %>
  <% if kadai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kadai.errors.count, "error") %> prohibited this kadai from being saved:</h2>

      <ul>
      <% kadai.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :kadai_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :kadai_description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :kadai_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, id: :kadai_end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
