<%= form_with(model: kadai, local: true) do |form| %>
  <% if kadai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kadai.errors.count, "error") %> prohibited this kadai from being saved:</h2>

      <ul>
      <% kadai.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :kadai_name %>
  </div>

  <div class="field">
    <%= form.label :etc %>
    <%= form.text_area :etc, id: :kadai_etc %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :kadai_start_date %>
  </div>

  <div class="field">
    <%= form.label :due %>
    <%= form.datetime_select :due, id: :kadai_due %>
  </div>
  
  <div class="field">
    <%= form.label :imp %>
    <%= form.number_field :imp, id: :kadai_imp %>
  </div>

  <div class="field">
    <%= form.label :sinko %>
    <%= form.number_field :sinko, id: :kadai_sinko %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
