<p id="notice"><%= notice %></p>

<h1>Kadais</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kadais.each do |kadai| %>
      <tr>
        <td><%= kadai.title %></td>
        <td><%= kadai.description %></td>
        <td><%= kadai.start_date %></td>
        <td><%= kadai.due %></td>
        <td><%= link_to 'Show', kadai %></td>
        <td><%= link_to 'Edit', edit_kadai_path(kadai) %></td>
        <td><%= link_to 'Destroy', kadai, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kadai', new_kadai_path %>
