<p id="notice"><%= notice %></p>

<p>
  <strong>課題名:</strong>
  <%= @kadai.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kadai.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @kadai.start_date %>
</p>

<p>
  <strong>期限:</strong>
  <%= @kadai.due %>
</p>

<%= link_to 'Edit', edit_kadai_path(@kadai) %> |
<%= link_to "Back", current_user %> |
<td><%= link_to 'Destroy', @kadai, method: :delete, data: { confirm: 'Are you sure?' } %></td>

